.rbc-event {
  background: #ff385c !important;
}

.rbc-event-content {
  font-weight: bold;
}

.rbc-today {
  background: #fff3f6 !important;
}

@media (max-width: 768px) {
  .rbc-toolbar .rbc-btn-group:nth-of-type(3) {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .rbc-toolbar .rbc-btn-group:nth-of-type(3) {
    display: inline !important;
  }
}
